#firstname-164768a4-e713-469b-a5f3-4f6a6ff9d9e1 {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#lastname-164768a4-e713-469b-a5f3-4f6a6ff9d9e1 {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#email-164768a4-e713-469b-a5f3-4f6a6ff9d9e1 {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#phone-164768a4-e713-469b-a5f3-4f6a6ff9d9e1 {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#company-164768a4-e713-469b-a5f3-4f6a6ff9d9e1 {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#message-164768a4-e713-469b-a5f3-4f6a6ff9d9e1 {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#label-firstname-164768a4-e713-469b-a5f3-4f6a6ff9d9e1 {
  font-family: Poppins !important;
  color: #565656;
}

#label-lastname-164768a4-e713-469b-a5f3-4f6a6ff9d9e1 {
  font-family: Poppins !important;
  color: #565656;
}

#label-email-164768a4-e713-469b-a5f3-4f6a6ff9d9e1 {
  font-family: Poppins !important;
  color: #565656;
}

#label-phone-164768a4-e713-469b-a5f3-4f6a6ff9d9e1 {
  font-family: Poppins !important;
  color: #565656;
}

#label-company-164768a4-e713-469b-a5f3-4f6a6ff9d9e1 {
  font-family: Poppins !important;
  color: #565656;
}

#label-message-164768a4-e713-469b-a5f3-4f6a6ff9d9e1 {
  font-family: Poppins !important;
  color: #565656;
}



#firstname-03cf1863-95a7-40c4-8195-2de1f5e18fee {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#lastname-03cf1863-95a7-40c4-8195-2de1f5e18fee {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#email-03cf1863-95a7-40c4-8195-2de1f5e18fee {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#phone-03cf1863-95a7-40c4-8195-2de1f5e18fee {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#company-03cf1863-95a7-40c4-8195-2de1f5e18fee {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#message-03cf1863-95a7-40c4-8195-2de1f5e18fee {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#label-firstname-03cf1863-95a7-40c4-8195-2de1f5e18fee {
  font-family: Poppins !important;
  color: #565656;
}

#label-lastname-03cf1863-95a7-40c4-8195-2de1f5e18fee {
  font-family: Poppins !important;
  color: #565656;
}

#label-email-03cf1863-95a7-40c4-8195-2de1f5e18fee {
  font-family: Poppins !important;
  color: #565656;
}

#label-phone-03cf1863-95a7-40c4-8195-2de1f5e18fee {
  font-family: Poppins !important;
  color: #565656;
}

#label-company-03cf1863-95a7-40c4-8195-2de1f5e18fee {
  font-family: Poppins !important;
  color: #565656;
}

#label-message-03cf1863-95a7-40c4-8195-2de1f5e18fee {
  font-family: Poppins !important;
  color: #565656;
}


#firstname-8333359b-18ae-45de-a8c3-9489c2e4c40f {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #fcfcfc;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#lastname-8333359b-18ae-45de-a8c3-9489c2e4c40f {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #fcfcfc;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#email-8333359b-18ae-45de-a8c3-9489c2e4c40f {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #fcfcfc;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#phone-8333359b-18ae-45de-a8c3-9489c2e4c40f {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #fcfcfc;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#company-8333359b-18ae-45de-a8c3-9489c2e4c40f {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #fcfcfc;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#message-8333359b-18ae-45de-a8c3-9489c2e4c40f {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #fcfcfc;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#label-firstname-8333359b-18ae-45de-a8c3-9489c2e4c40f {
  font-family: Poppins !important;
  color: #565656;
}

#label-lastname-8333359b-18ae-45de-a8c3-9489c2e4c40f {
  font-family: Poppins !important;
  color: #565656;
}

#label-email-8333359b-18ae-45de-a8c3-9489c2e4c40f {
  font-family: Poppins !important;
  color: #565656;
}

#label-phone-8333359b-18ae-45de-a8c3-9489c2e4c40f {
  font-family: Poppins !important;
  color: #565656;
}

#label-company-8333359b-18ae-45de-a8c3-9489c2e4c40f {
  font-family: Poppins !important;
  color: #565656;
}

#label-message-8333359b-18ae-45de-a8c3-9489c2e4c40f {
  font-family: Poppins !important;
  color: #565656;
}

#firstname-53a8eb5f-606f-4ddd-ba39-5a3c545c3b32 {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#lastname-53a8eb5f-606f-4ddd-ba39-5a3c545c3b32 {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#email-53a8eb5f-606f-4ddd-ba39-5a3c545c3b32 {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#phone-53a8eb5f-606f-4ddd-ba39-5a3c545c3b32 {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#company-53a8eb5f-606f-4ddd-ba39-5a3c545c3b32 {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#message-53a8eb5f-606f-4ddd-ba39-5a3c545c3b32 {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#label-firstname-53a8eb5f-606f-4ddd-ba39-5a3c545c3b32 {
  font-family: Poppins !important;
  color: #565656;
}

#label-lastname-53a8eb5f-606f-4ddd-ba39-5a3c545c3b32 {
  font-family: Poppins !important;
  color: #565656;
}

#label-email-53a8eb5f-606f-4ddd-ba39-5a3c545c3b32 {
  font-family: Poppins !important;
  color: #565656;
}

#label-phone-53a8eb5f-606f-4ddd-ba39-5a3c545c3b32 {
  font-family: Poppins !important;
  color: #565656;
}

#label-company-53a8eb5f-606f-4ddd-ba39-5a3c545c3b32 {
  font-family: Poppins !important;
  color: #565656;
}

#label-message-53a8eb5f-606f-4ddd-ba39-5a3c545c3b32 {
  font-family: Poppins !important;
  color: #565656;
}

fieldset {
  max-width: inherit !important;
}

.no-list.hs-error-msgs.inputs-list {
  display: none !important;
}

.actions {
  text-align: center;
}

.hbspt-form {
  margin-bottom: 30px;
}

.hs-button.primary.large {
  background-image: linear-gradient(90deg,#fe5000,#f58220);
  border: 0px;
  padding: 15px 40px;
  font-family: poppins;
  color: white;
  border-radius: 50px;
}

.fs-title-lg-bold.pt-3.aos-init.aos-animate {
  line-height: 42px !important;
}

.banner-button-tred-custom {
	background-color: #fe5000;
	color: white;
	padding: 15px 40px;
	border-radius: 50px;
	font-family: Poppins;
}

.fs-title-40-reg.carousel-heading {
  margin-bottom: 30px !important;
}

.hs_upload_your_rfi_file.hs-upload_your_rfi_file.hs-fieldtype-file.field.hs-form-field {
  font-family: poppins;
  border-bottom: 1px solid #404040;
  padding: 0px 0px 20px 0px;
  margin-bottom: 15px;
  width: 99% !important;
}

.hs-form-03cf1863-95a7-40c4-8195-2de1f5e18fee_f8911e56-ccaa-405f-9111-9389c02f953f fieldset.form-columns-1 .hs-input {
  width: 95%;
  font-size: 10px !important;
  margin-top: 12px !important;
}

.thank-you-wrapper {
  background-color: #1a1a1a !important;
  color: white;
  font-family: Poppins !important;
  text-align: center;
  margin: 0px 0px !important;
  height: 620px !important;
}

.px-md-0 {
  padding-top: 8px;
}

#email-18a84645-f8dc-41ab-953d-6aa49b293694 {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  background-color: #f8f8f8;
  font-family: Poppins !important;
  color: #404040 !important;
  width: 100% !important;
  margin-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid #565656 !important;
}

#label-email-18a84645-f8dc-41ab-953d-6aa49b293694 {
  font-family: Poppins !important;
  color: #565656;
}

.submitted-message.hs-main-font-element.hs-form-18a84645-f8dc-41ab-953d-6aa49b293694.hs-form-18a84645-f8dc-41ab-953d-6aa49b293694_53ce579f-8795-4eb0-93de-91fcfb5348e0 {
  font-size: 1.125vw;
  font-family: Poppins-Regular;
  margin-bottom: 3rem !important;
}